<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--------------модальное окно загрузки файла----------------------------------->
<div th:fragment="UploadToModal" class="modal fade" id="UploadModal" tabindex="-1" aria-labelledby="labelModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="labelModal">Загрузка файла</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <form id="formData"  enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Укажите файл таблицы</label>
                        <input class="form-control" accept=".xls, .xlsx" type="file" th:name="file" id="formFile">
                    </div>
                    <div id="invalidFormatFile" class="invalid-feedback">
                        Неверный формат файла !
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="uploadFile()" value="Import" class="btn btn-primary">Загрузить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!---------------------------модальное окно создание и редактирования пользователя---------------------------------->
<div th:fragment="personDataModal" class="modal fade" th:id="personData" tabindex="-1" aria-labelledby="labelModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 th:text="'Регистрация/Изменение пользователя'"></h4>
            </div>
            <div class="modal-body">
                <form id="personFormData"  th:method="POST" th:action="@{/administration/person/save-update}">
                    <div class="mb-3">
                        <input type="hidden" id="id" name="id">
                        <label for="username" class="form-label">Логин</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Только латинские буквы"
                               aria-describedby="validationUsername" required>
                        <div id="validationUsername" class="invalid-feedback">
                            <ul id="errorMessages"></ul>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="fullName" class="form-label">Фамилия и инициалы пользователя</label>
                        <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Петров В.В."
                               aria-describedby="validationFullName" required>
                        <div id="validationFullName" class="invalid-feedback">
                        </div>
                    </div>
                    <div class="mb-3">
                        <select  multiple="multiple" id="roleId" class="form-select" name="roleId" required aria-label="Выбор роли">
                            <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}">val role</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Пароль для пользователя</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="пароль от 6 до 8 символов"
                               aria-describedby="validationPassword" required>
                        <div id="validationPassword" class="invalid-feedback">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" th:text="'Сохранить'"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>