<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--------------модальное окно загрузки файла----------------------------------->
<div th:fragment="UploadToModal" class="modal fade" id="UploadModal" tabindex="-1" aria-labelledby="labelModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="labelModal">Загрузка файла</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <form id="formData"  enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Укажите файл таблицы</label>
                        <input class="form-control" accept=".xls, .xlsx" type="file" th:name="file" id="formFile">
                    </div>
                    <div id="invalidFormatFile" class="invalid-feedback">
                        Неверный формат файла !
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="uploadFile()" value="Import" class="btn btn-primary">Загрузить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!---------------------------модальное окно создание и редактирования пользователя---------------------------------->
<div th:fragment="personDataModal" class="modal fade" id="personData" tabindex="-1" aria-labelledby="labelModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 th:text="'Регистрация/Изменение пользователя'"></h4>
            </div>
            <div class="modal-body">
                <form id="form"  th:method="POST" th:action="@{/administration/person/new}" th:object="${persons}">
                    <div class="mb-3">
                        <input type="hidden" th:field="*{id}" id="id">
                        <label for="login" class="form-label">Логин</label>
                        <input th:field="*{login}" type="text" class="form-control" id="login" placeholder="Только латинские буквы">
                    </div>
                    <div class="mb-3">
                        <label for="fullName" class="form-label">Фамилия и инициалы пользователя</label>
                        <input th:field="*{fullName}" type="text" class="form-control" id="fullName" placeholder="Петров В.В">
                    </div>
                    <div class="mb-3">
                        <select th:field="*{role}" id="selectRole" class="form-select" name="role" required aria-label="Выбор роли">
                            <option value="">Выберете роль</option>
                            <option value="ROLE_OPERATOR">Оператор склада</option>
                            <option value="ROLE_SPECIALIST">Специалист КО</option>
                            <option value="ROLE_ADMIN">Администратор</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Пароль для пользователя</label>
                        <input th:field="*{password}" type="password" class="form-control" id="password" placeholder="пароль от 3 до 8 символов">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" th:text="'Зарегестрировать'"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>