<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="common_header(links,title)">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/form-login.css}">
    <script type="text/javascript" th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-barcode.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/custom.js}"></script>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

    <meta charset="UTF-8">
    <title th:replace="${title}">title</title>
</head>
<body>
<nav th:replace="~{/util/nav-bar :: NavBar}"></nav>

</body>
<div th:replace="~{util/_modal :: UploadToModal}"></div>
</html>