<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="EditCargo" class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" th:id="staticBackdrop" aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Обработка груза</h5>
        <button type="button" class="btn-close" onclick="location.reload()" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
    </div>
    <div class="offcanvas-body">
        <div class="d-flex" role="search">
            <input   id="search" class="form-control me-2 border-success"  type="text" placeholder="Поиск" aria-label="Поиск" aria-describedby="searchNotFound" required>
            <button id="search-button" class="btn btn-success" type="button">Поиск</button>
        </div>
        <div id="searchNotFound" class="invalid-feedback">
            Груз не найден !
        </div>
        <br>
        <div id="cargoOffCanvas">
            <div class="container" id="container">
            </div>
                <table class="table text-center" >
                    <thead>
                    <tr>
                        <th scope="col">Мест</th>
                        <th scope="col">Вес</th>
                        <th scope="col">Вес места</th>
                        <th scope="col">Габариты</th>
                        <th scope="col">Объём</th>
                        <th>
                            <input type="hidden" id="inputId">
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td id="numberOfSeats" class="fw-semibold">Мест</td>
                        <td id="weight" class="fw-semibold">Вес</td>
                        <td id="weightOfOnePiece" class="fw-semibold">Вес 1-го места</td>
                        <td id="dimensions" class="fw-semibold">Габариты ДxШxВ</td>
                        <td id="volume" class="fw-semibold">Объём</td>
                    </tr>
                    <tr id="tableCity">
                        <td colspan="5">
                            <table class="table mb-0 text-center">
                                <thead>
                                <tr>
                                    <th scope="col">Город</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="fw-semibold" id="city"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <table class="table mb-0 text-center">
                                <thead>
                                <tr>
                                    <th scope="col">Пэк штрихкод</th>
                                    <th id="timeIssue" scope="col">Время выдачи</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="input-group text-center">
                                            <span>
                                                <h5 id="pecCode"></h5>
                                            <a id="trashButton" type="button" class="bi bi-trash link-danger" onclick="deletePecCode()">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                                </svg>
                                            </a>
                                            </span>
                                            <label for="inputPecCode"></label>
                                            <input id="inputPecCode" type="text" class="form-control border-black" required>
                                        </div>
                                    </td>
                                    <td colspan="2">
                                        <div id="processed">
                                            <input class="form-check-input border-black" type="checkbox" id="labelProcessed" name="processed">
                                            <label class="form-check-label" for="labelProcessed">
                                                Принять груз
                                            </label>
                                        </div>
                                        <div id="issuance">
                                            <input class="form-check-input border-black" type="checkbox" id="labelIssuance" name="issuance">
                                            <label class="form-check-label" for="labelIssuance">
                                                Выдать груз
                                            </label>
                                        </div>
                                        <div>
                                            <h6 id="timeOfIssueAtWarehouse"></h6>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td id="cellIssuanceByUser">
                                        <h6 th:text="'Выдал:'"></h6>
                                        <p id="issuanceByUser"></p>

                                    </td>
                                    <td>
                                        <h6  th:text="'Рейс: '"></h6>
                                        <a id="truckName" href="#"></a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="form-row text-center" id="buttonSave">
                    <button type="button" class="btn btn-primary" onclick="saveCargo()"
                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" th:text="Сохранить">
                    </button>
                </div>
        </div>
    </div>
</div>
</html>