<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<nav th:fragment="NavBar" class="navbar navbar-expand-lg bg-body-tertiary ">
    <div class="container-fluid">
        <a class="navbar-brand">ПЭК Юг Китай </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">Рейсы</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Грузы</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/cargo/warehouse}">Все грузы</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item link-secondary" th:href="@{/cargo/warehouse/unloaded}">Все выгруженные</a></li>
                        <li><a class="dropdown-item link-success" th:href="@{/cargo/warehouse/processed}">Принятые</a></li>
                        <li><a class="dropdown-item link-warning" th:href="@{/cargo/warehouse/issuance}">Выданные</a></li>
                    </ul>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"  class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/administration/person}">Пользователи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="modal"
                       type="button"
                       data-bs-target="#UploadModal">Загрузить таблицу</a>
                </li>
            </ul>
            <ul class="nav navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item d-flex" >
                    <form class="d-flex" role="search" th:action="@{/search}" th:method="GET">
                        <input class="form-control me-2" name="search"  th:value="${search}"  type="search" placeholder="Поиск" aria-label="Поиск">
                        <button class="btn btn-success" type="submit">Поиск</button>
                    </form>
                </li>
            </ul>
            <ul class="nav navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item d-flex">
                    <h4 class="nav-link active" id="peopleData" th:text="${#authentication.principal.fullName}" aria-current="page">Имя пользователя</h4>
                </li>
            </ul>
                <li class="nav-item d-flex">
                    <form th:action="@{/auth/logout}" th:method="POST">
                        <button class="nav-link p-2"  th:text="Выход"/>
                    </form>
                </li>
        </div>
    </div>
</nav>
<!---------------------------pagination--------------------------->

<nav th:fragment="PageNavBar(object, href)" aria-label="Pagination" th:if="${object.getTotalPages() > 1}">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${object.getNumber() + 1 == 1} ? 'disabled'">
            <a rel="tooltip" class="page-link"
               th:href="@{${href} + 'page=' + 1}"
               th:text="'<<'"
               th:title="'Первая страница'">
            </a>
        </li>
        <li class="page-item font-weight-bold" th:classappend="${object.getNumber() + 1 == 1} ? 'disabled'">
            <a rel="tooltip" class="page-link"
               th:href="@{ ${href} + 'page=' + ${object.getNumber()}}"
               th:text="'Предыдущая'"
               th:title="'Предыдущая страница'">
            </a>
        </li>
        <li class="page-item disabled" th:if="${object.getNumber() > 1}">
            <a class="page-link" href="#">...</a>
        </li>
        <li class="page-item" aria-current="page" th:classappend="${page == object.getNumber()+1} ? 'active'"
            th:each="page : ${#numbers.sequence(object.getNumber()+1 > 2 ? object.getNumber() - 1 : 1, object.getNumber() + 3 < object.getTotalPages() ? object.getNumber() + 3 : object.getTotalPages())}">
            <a rel="tooltip" class="page-link"
               th:href="@{${href} + 'page=' + ${page}}"
               th:text="${page}"
               th:title="'Страница ' + ${page}">
            </a>
        </li>
        <li class="page-item disabled" th:if="${object.getNumber() + 2 < object.getTotalPages()}">
            <a class="page-link" href="#">...</a>
        </li>
        <li class="page-item font-weight-bold" th:classappend="${object.getNumber() + 1 == object.getTotalPages()} ? 'disabled'">
            <a rel="tooltip" class="page-link"
               th:href="@{${href} + 'page=' + ${object.getNumber() + 2}}"
               th:text="'Следующая'"
               th:title="'Следующая страница'">
            </a>
        </li>
        <li class="page-item" th:classappend="${object.getNumber()+1 == object.getTotalPages()} ? 'disabled'">
            <a rel="tooltip" class="page-link"
               th:href="@{${href} + 'page=' + ${object.getTotalPages()}}"
               th:text="'>>'"
               th:title="'Последняя страница'">
            </a>
        </li>
    </ul>

</nav>

