<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="EditCargo(carg)" class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" th:id="'staticBackdrop' + ${carg.id()}" aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Обработка груза</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
    </div>
    <div class="offcanvas-body">
        <form class="d-flex" role="search">
            <input class="form-control me-2 " type="search" placeholder="Поиск" aria-label="Поиск">
            <button class="btn btn-outline-success" type="submit">Поиск</button>
        </form>
        <br>
        <div class="container" th:attr="data-code=${carg.clientBarcode()}">
        </div>
        <p th:text="${carg.numberOfSeats()}">Мест</p>
        <p th:text="${carg.weight()}">Вес(кг)</p>
        <p th:text="${carg.volume()}">Объём</p>
        <p th:text="${carg.dimensions()}">Габариты ДxШxВ</p>
        <p th:text="${carg.localOrTransshipment()}">Местный/перевалочный</p>
        <p th:text="${'Выдан: ' + carg.issuance()}  ? 'да' : 'нет'">Выдан</p>
        <p th:text="${carg.processed()}? 'да': 'нет'">Принят</p>





    </div>
</div>

</html>