<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="EditCargo" class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" th:id="staticBackdrop" aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Обработка груза</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
    </div>
    <div class="offcanvas-body">
        <form class="d-flex" role="search">
            <input class="form-control me-2 " type="search" placeholder="Поиск" aria-label="Поиск">
            <button class="btn btn-outline-success" type="submit">Поиск</button>
        </form>
        <br>
        <div class="container" id="container"  >
        </div>
            <table class="table">
                <thead>

                <tr>
                    <th scope="col">Мест</th>
                    <th scope="col">Вес</th>
                    <th scope="col">Габариты</th>
                    <th scope="col">Объём</th>
                    <th>
                        <input type="hidden" th:attr="name='id'">
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td id="numberOfSeats">Мест</td>
                    <td id="weight">Вес</td>
                    <td id="dimensions">Габариты ДxШxВ</td>
                    <td id="volume">Объём</td>
                </tr>
                <tr>
                    <td colspan="4">

                        <table class="table mb-0">
                            <thead>
                            <tr>
                                <th scope="col">Пэк штрихкод</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>
                                    <div class="input-group">
                                        <label>
                                            <input  type="text" class="form-control">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <h5 id="pecCode">ШК ПЭК</h5>
                                </td>

                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="issuance">
                                        <label class="form-check-label" for="issuance">
                                            Выдать груз
                                        </label>
                                    </div>
                                    <input type="hidden" th:attr="name='issuance'">
                                </td>

                                <td>
                                    <h6 id="timeOfIssue"></h6>
                                </td>


                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"  id="processed">
                                        <label class="form-check-label" for="processed">
                                            Принять груз
                                        </label>
                                    </div>
                                    <input type="hidden" th:attr="name='processed'">
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h6 th:text="'Выдал: '"></h6>
                                    <p id="fullName"></p>
                                    <input type="hidden" th:attr="name='user'">
                                </td>
                                <td>
                                    <h6  th:text="'Рейс: '"></h6>
                                    <a id="truckName" href="#"></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary"
                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" th:text="Сохранить">
            </button>
    </div>
</div>

</html>