<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/util/bace :: common_header(~{::link}, ~{::title})}">
  <title th:text="${titles}">val</title>
</head>
<body>

<nav th:replace="~{/util/nav-bar :: NavBar}"></nav>

<table class="table table-sm table-bordered">
  <caption th:if="${trackName}" th:text="'Рейс: ' + ${trackName}"></caption>
  <thead class="table-dark">
  <tr class="align-middle text-center">
    <th scope="col">Код заказа клиента</th>
    <th scope="col">ПЭК ШК</th>
    <th scope="col">Мест</th>
    <th style="width: 6rem;" scope="col">Выгружено мест</th>
    <th scope="col">Вес(кг)</th>
    <th scope="col">Объём</th>
    <th style="width: 6rem;" scope="col">Габариты ДxШxВ</th>
    <th scope="col">Город</th>
    <th scope="col">Местный/перевалочный</th>
    <th scope="col">Выдача КО</th>
    <th style="width: 6rem;" scope="col">Выдан со склада</th>

  </tr>
  </thead>
  <tbody class="table-secondary align-middle text-center">
  <tr th:each="carg,i :${cargos}" th:class="${carg.isIssuance()} ? 'table-warning' : (${carg.isProcessed()} ? 'table-success':'table-secondary')">
    <td>
      <a href="#" data-bs-toggle="offcanvas" th:text="${carg.getClientBarcode()}" class="link-dark link-underline link-underline-opacity-0" th:attr="data-bs-target='#staticBackdrop'"  th:onclick="getCargoById([[${carg.getId()}]])"></a>
    </td>
    <td>
      <h6 th:text="${carg.pecCode != null} ? (${#strings.length(carg.pecCode) lt 12} ? ${carg.pecCode} : ${#strings.substring(carg.pecCode, 0, 12)}) : ''"></h6>
    </td>
    <td>
      <h6 th:text="${carg.getNumberOfSeats()}"/>
    </td>
    <td>
      <h6 th:text="${carg.getNumberOfSeatsUserScan()} + ' из ' + ${carg.getNumberOfSeats()}"/>
    </td>
    <td>
      <h6 th:text="${carg.getWeight()}"/>
    </td>
    <td>
      <h6 th:text="${carg.getVolume()}"/>
    </td>
    <td>
      <h6 th:text="${carg.getDimensions()}"/>
    </td>
    <td>
      <h6 th:text="${carg.getCity()}"/>
    </td>
    <td>
      <h6 th:text="${carg.getLocalOrTransshipment()}"/>
    </td>
    <td>
      <h6 th:text="${carg.isClientIssue()} ? 'да': 'нет'"/>
    </td>
    <td>
      <h6 th:text="${carg.isIssuance()} ? 'да' : 'нет'"/>
    </td>
  </tr>
  </tbody>
</table>
</body>
<div th:replace="~{util/cargo-off-canvas :: EditCargo}"></div>
<div th:replace="~{util/nav-bar :: PageNavBar(${cargos},${href})}"></div>
<div th:replace="~{util/_modal :: UploadToModal}"></div>
</html>