<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/util/bace :: common_header(~{::link}, ~{::title})}">
  <title>Грузы</title>
</head>

<body>
<nav th:replace="~{/util/nav-bar :: NavBar}"></nav>


<table class="table table-sm table-bordered border-primary text-center">
  <caption th:if="${trackName}" th:text="'Рейс ' + ${trackName}"></caption>
  <thead class="table-dark">
  <tr>
    <th scope="col">Код заказа клиента</th>
    <th scope="col">ПЭК ШК</th>
    <th scope="col">Мест</th>
    <th style="width: 6rem;" scope="col">Выгружено мест</th>
    <th scope="col">Вес(кг)</th>
    <th scope="col">Объём</th>
    <th style="width: 6rem;" scope="col">Габариты ДxШxВ</th>
    <th scope="col">Город</th>
    <th scope="col">Местный/перевалочный</th>
    <th scope="col">Выдан</th>
    <th scope="col">Принят</th>


  </tr>
  </thead>
  <tbody class="table-secondary">
  <tr th:each="carg,i :${cargos}" th:class="${carg.isIssuance()} ? 'table-warning' : (${carg.isProcessed()} ? 'table-success':'table-secondary')">
    <td>
      <button th:text="${carg.getClientBarcode()}" class="btn"  th:onclick="openOffcanvas([[${carg.getId()}]])">></button>

    </td>
    <td>
      <h6 th:text="${carg.getPecCode()}"/>
    </td>
    <td>
      <h6 th:text="${carg.getNumberOfSeats()}"/>
    </td>
    <td>
      <h6 th:text="${carg.getNumberOfSeatsUserScan()} + ' из ' + ${carg.getNumberOfSeats()}"/>
    </td>
    <td>
      <h6 th:text="${carg.getWeight()}"/>
    </td>
    <td>
      <h6 th:text="${carg.getVolume()}"/>
    </td>
    <td>
      <h6 th:text="${carg.getDimensions()}"/>
    </td>
    <td>
      <h6 th:text="${carg.getCity()}"/>
    </td>
    <td>
      <h6 th:text="${carg.getLocalOrTransshipment()}"/>
    </td>
    <td>
      <h6 th:text="${carg.isIssuance()} ? 'да' : 'нет'"/>
    </td>
    <td>
      <h6 th:text="${carg.isProcessed()} ? 'да': 'нет'"/>
    </td>
    <td>
    </td>
  </tr>
  </tbody>
</table>
<div th:replace="~{util/offcanvas-v1 :: EditCargo}"></div>
<div th:replace="~{util/nav-bar :: PageNavBar(${cargos},${href})}"></div>
</body>
<div th:replace="~{util/_modal :: UploadToModal}"></div>



<script th:inline="javascript">

  function openOffcanvas(id) {
    $.get( "/api/v1/" + id, function( data ) {
      // alert( "Data Loaded: " + data.clientBarcode);
      var a = data;
      $('#numberOfSeats').html(data.numberOfSeats);
      $('#weight').html(data.weight);
      $('#dimensions').html(data.dimensions);
      $('#volume').html(data.volume);
      $('#pecCode').html(data.pecCode);
      $('#truckName').html(data.truckName);
      $('#container').barcode(data.clientBarcode, 'code128', {barWidth:2, barHeight:130});
    });
    const myBackdrop = document.querySelector('#staticBackdrop');
    const bsOffcanvas = new bootstrap.Offcanvas(myBackdrop);
    bsOffcanvas.toggle();
  }

</script>


</html>