<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/util/bace :: common_header(~{::link}, ~{::title})}">
  <title>Грузы</title>
</head>

<body>
<nav th:replace="~{/util/nav-bar :: NavBar}"></nav>

<table class="table table-sm table-bordered border-primary text-center">
  <caption th:if="${track_name}" th:text="'Рейс ' + ${track_name}"></caption>
  <thead class="table-dark">
  <tr>
    <th scope="col">Код заказа клиента</th>
    <th scope="col">ПЭК ШК</th>
    <th scope="col">Мест</th>
    <th style="width: 6rem;" scope="col">Выгружено мест</th>
    <th scope="col">Вес(кг)</th>
    <th scope="col">Объём</th>
    <th style="width: 6rem;" scope="col">Габариты ДxШxВ</th>
    <th scope="col">Город</th>
    <th scope="col">Местный/перевалочный</th>
    <th scope="col">Выдан</th>
    <th scope="col">Принят</th>


  </tr>
  </thead>
  <tbody class="table-secondary">
  <tr th:each="carg,i :${cargos}" th:class="${carg.issuance()} ? 'table-warning' : (${carg.processed()} ? 'table-success':'table-secondary')">
    <td>
      <a th:text="${carg.clientBarcode()}" class="btn" data-bs-toggle="offcanvas" th:attr="data-bs-target='#staticBackdrop' + ${carg.id()}">></a>
      <div th:replace="~{util/offcanvas :: EditCargo(${carg})}"></div>
    </td>
    <td>
      <h6 th:text="${carg.pecCode()}"/>
    </td>
    <td>
      <h6 th:text="${carg.numberOfSeats()}"/>
    </td>
    <td>
      <h6 th:text="${carg.numberOfSeatsUserScan()} + ' из ' + ${carg.numberOfSeats()}"/>
    </td>
    <td>
      <h6 th:text="${carg.weight()}"/>
    </td>
    <td>
      <h6 th:text="${carg.volume()}"/>
    </td>
    <td>
      <h6 th:text="${carg.dimensions()}"/>
    </td>
    <td>
      <h6 th:text="${carg.city()}"/>
    </td>
    <td>
      <h6 th:text="${carg.localOrTransshipment()}"/>
    </td>
    <td>
      <h6 th:text="${carg.issuance()} ? 'да' : 'нет'"/>
    </td>
    <td>
      <h6 th:text="${carg.processed()} ? 'да': 'нет'"/>
    </td>
  </tr>
  </tbody>
</table>
</body>

<div th:replace="~{util/_modal :: UploadToModal}"></div>
<script th:inline="javascript">
  $('.container').each(function() {
    $(this).barcode($(this).data('code'), 'code128', {barWidth:2, barHeight:130});
  });
</script>


</html>