<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/util/bace :: common_header(~{::link}, ~{::title})}">
    <title>Администрирование</title>
</head>
<body>

<nav th:replace="~{/util/nav-bar :: NavBar}"></nav>

<table class="table table-sm table-bordered border-primary text-center">
    <thead class="table-dark">
    <tr>
        <th scope="col">№</th>
        <th scope="col">Логин</th>
        <th scope="col">ФИО</th>
        <th scope="col">Роль</th>
        <th scope="col">Действия</th>
    </tr>
    </thead>
    <tbody class="table-secondary">
    <tr th:each="people,i :${person}" class="table-secondary">
        <td>
            <h6 th:text="${i.count}"/>
        </td>
        <td>
            <h6 th:text="${people.getUsername()}"/>
        </td>
        <td>
            <h6 th:text="${people.getFullName()}"/>
        </td>
        <td>
            <h6 th:text="${people.getRoleName()}"/>
        </td>
        <td>
            <a th:attr="data-bs-target='#personData'" type="button" data-bs-toggle="modal" class="bi bi-pencil" th:onclick="getPersonById([[${people.getId()}]])">
                <img src="/images/pencil.svg"/>
            </a>

            <a th:href="@{/administration/person/delete/{id}(id=${people.getId()})}" type="button" class="bi bi-trash">
                <img src="/images/trash.svg"/>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<button type="button" onclick="resetData()" data-bs-toggle="modal" class="btn btn-secondary" th:attr="data-bs-target='#personData'">Создать нового пользователя</button>
    </body>
<div th:replace="~{util/_modal :: personDataModal}"></div>
<div th:replace="~{util/_modal :: UploadToModal}"></div>
</html>