<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/util/bace :: common_header(~{::link}, ~{::title})}">
    <meta charset="UTF-8">
    <title>Администрирование</title>
</head>
<body>
<nav th:replace="~{/util/nav-bar :: NavBar}"></nav>
<table class="table table-sm table-bordered border-primary text-center">
    <thead class="table-dark">
    <tr>
        <th scope="col">№</th>
        <th scope="col">Логин</th>
        <th scope="col">ФИО</th>
        <th scope="col">Роль</th>
        <th scope="col">Действия</th>
    </tr>
    </thead>
    <tbody class="table-secondary">
    <tr th:each="people,i :${person}" class="table-secondary">
        <td>
            <h6 th:text="${i.count}"/>
        </td>
        <td>
            <h6 th:text="${people.getLogin()}"/>
        </td>
        <td>
            <h6 th:text="${people.getFullName()}"/>
        </td>
        <td>
            <h6 th:text="${people.getRole()}"/>
        </td>
        <td>
            <a th:attr="data-bs-target='#personData'" type="button" data-bs-toggle="modal" class="bi bi-pencil" th:onclick="getPersonById([[${people.getId()}]])">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                </svg>
            </a>

            <a th:href="@{/administration/person/delete/{id}(id=${people.getId()})}" type="button" class="bi bi-trash">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"></path>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"></path>
                </svg>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<button type="button" data-bs-toggle="modal" class="btn btn-secondary" th:attr="data-bs-target='#personData'">Создать нового пользователя</button>
    </body>
<div th:replace="~{util/_modal :: personDataModal}"></div>
</html>